.team-card {
    width: 420px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;

    padding: 32px 0px 32px 0px;

    &_descr {
        margin-top: 12px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;

        text-transform: uppercase;
        
        &-position {
            color: rgba(255, 255, 255, 0.5);
            font-size: 12px;
        }
        &-name {
            font-size: 14px;
        }
    }
}