.headline {
   padding: 32px;
 
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 10px;
 
   box-sizing: border-box;
 
   display: flex;
   flex-direction: column;
 
   height: 648px; 
 
   background-image: url("../../../../assets/rocket.jpg");
   background-size: cover 100%;
   background-repeat: no-repeat;
   background-position: top -120px right -320px;
 }
 